@import url('https://fonts.googleapis.com/css?family=Raleway:400,600|Roboto+Mono');

html {
  font-family: 'Raleway', sans-serif;
}

.clock__digi {
  font-family: 'Roboto Mono', monospace;
}

.clock__title {
  font-weight: 600;
}
