$clock_size: 250px;

$digits_color: red;
$sec_hand_color: red;
$clock_buble_size: 15px;

$hrs_hand_width: 8px;
$mins_hand_width: 6px;
$secs_hand_width: 4px;

.clock {
  // margin: 10px 20px;

  &__title {
    text-transform: uppercase;
    text-align: center;
    margin-top: -95px;
  }

  &__wrap {
    width: $clock_size;
    height: $clock_size;
    border: 20px solid #c0c0c0;
    border-radius: 50%;
    margin: 30px auto;
    position: relative;
    padding: 2rem;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
      inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
    background-image: url("/src/assets/clockface.png");
    background-size: cover;
    background-repeat: no-repeat;
  
  }

  &__face {
    width: 100%;
    height: 100%;
  }

  &__center-buble {
    height: $clock_buble_size;
    width: $clock_buble_size;
    background-color: $sec_hand_color;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
  }
}

.clock {
  &__hands {
    position: relative;
    z-index: 1;
    // transform: rotate(90deg);
    width: 100%;
    height: 100%;
  }

  &__hand {
    // To rotate like a clock we need to
    // transform the hands 50% across and
    // 100% down for the bottom of the hand.
    transform-origin: 50% 100%;
    position: absolute;
    top: 0%;

    border-radius: 5px;
    background: black;
    border: 1px solid rgba(255, 255, 255, 0.8);
  }

  &__hand--inited {
    transition: none;
  }

  &__hand-hours {
    left: calc(50% - #{$hrs_hand_width / 2});
    width: $hrs_hand_width;
    height: 30%;
    top: 20%;
  }

  &__hand-mins {
    left: calc(50% - #{$mins_hand_width / 2});
    width: $mins_hand_width;
    height: 40%;
    top: 10%;
  }

  &__hand-secs {
    background-color: $sec_hand_color;
    left: calc(50% - #{$secs_hand_width / 2});
    width: $secs_hand_width;
    height: 50%;
    top: 0;
  }
}

.clock {
  &__digi {
    transform: translate(-50%, -50%);
    display: inline-block;

    padding: 2px 0 1px;
    position: absolute;
    width: 150px;
    top: 62%;
    left: 50%;

    font-family: Courier;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: $digits_color;

    border-radius: 5px;
    text-shadow: 1px 1px #797979;
    background-color: rgba(190, 190, 190, 0.7);
    border: 2px solid #666565;
  }
}
