.mob-menu {
  background-color: rgba(220, 220, 220, 0.97);
  display: inline-block;
  position: fixed;

  z-index: 5;
  height: 100vh;
  width: 250px;

  transform: translateX(-100%);
  transition: transform 500ms;
  pointer-events: none;

  &__wrap {
    border-top: 2px solid rgba(15, 15, 15, .65);
    margin-top: 70px;
    height: 100%;
  }
}

.menu {
  &__list {
    margin: 40px 20px;
  }

  &__title {
    margin: 10px 10px;
  }
  
  &__list-wrap {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.mob-menu.active {
  transform: translateX(0);
  pointer-events: auto;
}